@import url('../App.css');

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 3rem;
    letter-spacing: .2rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    background: #fff;
}

.box {
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
    text-align: center;
}

.box .icon {
    color: var(--green);
    font-size: 50px;
    padding-bottom: .5rem;
}

.box h4 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.box p {
    color: var(--light-color);
    font-size: 1.3rem;
    line-height: 1.5;
}

.box .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--green);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.right {
    text-align: right;
    vertical-align: middle;
}